@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: underline;
    color: #0000;
}

li {
    list-style: none;
}

/* HEADER */
header {
    border: solid 1px #0000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header>figure {
    flex: 1;
    min-width: 300px;
}

header>h1 {
    flex: 4;
    text-align: center;
    font-size: 4vw;
    min-width: 400px;
}

header>form {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

header>form>label {
    font-family: bond;
    font-weight: bold;
    min-width: 100px;
    display: inline-block;
    margin-bottom: 2%;
    padding: 1%;
    text-align: left;
}

header>form>button {
    font-weight: bold;
    margin-top: 1%;
    padding: 1% 3%;
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    border: outset 2px rgb(225, 221, 221);
}

header>form>button:hover {
    outline: inset 5px #8f8aab;
    background-color: #0c058d;
    color: #ffff;
}

/* NAV */

nav {
    border: solid 2px #0000;
    padding: 1%;
    margin: 1%;
}

nav>ul {
    display: flex;
    justify-content: center;
}

nav>ul>li {
    margin: 1%;
    font-size: 3vw;
}

nav>ul>li>a {
    margin: 1%;
    font-size: 3vw;
}


/* FOOTER */