@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: bond;
    src: url(fonts/aleo/Aleo-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

/* HEADER */
header {
    border: solid 1px #0000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1%;
}

header>figure {
    margin-left: 1%;
    flex: 1;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 2px 3px #000000;
}

header>h1 {
    flex: 4;
    font-family: bond;
    font-size: 4vw;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 10px #0b091e;
    min-width: 300px;
}

header>form {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

header>form>label {
    font-family: bond;
    font-weight: bold;
    font-variant: small-caps;
    min-width: 100px;
    display: inline-block;
    margin-bottom: 2%;
    padding: 1%;
    text-align: left;
}

header>form>input:hover {
    outline: 3px solid #008000;
    cursor: pointer;
}

header>form>button {
    font-weight: bold;
    margin-top: 1%;
    padding: 1% 3%;
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    border: outset 2px rgb(225, 221, 221);
}

header>form>button:hover {
    outline: inset 5px #8f8aab;
    background-color: #0c058d;
    color: #ffff;
}

/* NAV */

nav {
    border: solid 2px #000000;
    padding: 1%;
}

nav>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav>ul>li {
    margin: 1%;
    cursor: pointer;
}

nav>ul>li:nth-of-type(7){
    margin-left: 15%;
}

nav>ul>li>a {
    margin: 1%;
    padding: 5% 10%;
    font-size: 2.5vw;
    color: #ffff;
    background-color: #0c0677;
}

nav>ul>li>a:hover{
    background-color: #ffffff;
    color:#0c0677;
}

nav>ul>li>img:hover{
    width: 110%;
}

/* FOOTER */

footer{
    margin-top: 1%;
    border: solid 1px #000000;
    padding: 1%;
}